*{
  margin:0px;
  padding:0px;
}

.App {
  text-align: center;
  background: #FEE433;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 100vh;
 
}

.container{
  max-width: 480px;
}

.home{
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.loader{
  border-radius: 120px;
  width: 250px;
  height: 250px;
}

.weather-title{
  font-size: 1.5rem;
  margin:12px 0px 12px 0px;
}

.weather-Icon{
  font-size: 8rem;
  margin-top: 15px;
}

.weather-description{
  margin: 15px 0px 0px 0px;
  font-size: 2rem;
  

}

.weather-temp{
  margin: 5px 0px 0px 0px;
  font-size: 1.5rem;
  
}

.credits-container{
  display: flex;
  justify-content:right;
  align-items: center;
  height: 5vh;
  width: 100%;
  background: #FEE433;
  font-size:8px;
  color:black;
}
